body{
	font-family: 'Roboto', 'Verdana', 'Calibri';
	margin: 0px; 
	padding: 0px 50px 0px 50px;
	background-color: rgb(247, 247, 247);
}

nav{
	width: 100%;
	background-color: rgb(247, 247, 247);
	padding-top: 30px;
	position: fixed;
	z-index: 4;
}

nav img{
	width: 420px;
	float: left;
	margin-top: 10px;
}

nav ul{
	margin: 0px 70px 0px 0px;
	padding: 0px;
	overflow: hidden;
}

nav li{
	list-style-type: none;
	float: right;
}

nav .case{
	display: inline-block;
	text-decoration: none;
	padding: 40px 30px;
	color: black;
}


.bloc1{
	display: inline-block;
	width: 100%;
	background-color: white;
	background-size: 105%;
	height: 600px;
	margin-top: 150px;
	margin-bottom: 0px;
    position: relative;
    animation: slide 1.5s linear 0s;
    animation-timing-function: ease;
}

.bloc2{
	display: inline-block;
	width: 100%;
	background-color: white;
	background-size: 105%;
	height: 600px;
	margin-top: 150px;
	margin-bottom: 0px;
    position: relative;
    animation: slide 1.5s linear 0s;
    animation-timing-function: ease;
    background-image: url(image/sur_mesure_back.jpg);
}

.bloc3{
	display: inline-block;
	width: 100%;
	background-color: white;
	background-size: 105%;
	height: 600px;
	margin-top: 150px;
	margin-bottom: 0px;
    position: relative;
    animation: slide 1.5s linear 0s;
    animation-timing-function: ease;
    background-image: url(image/about_back.jpg);
}

.bloc4{
	display: inline-block;
	width: 100%;
	background-color: white;
	background-size: 105%;
	height: 600px;
	margin-top: 150px;
	margin-bottom: 0px;
    position: relative;
    animation: slide 1.5s linear 0s;
    animation-timing-function: ease;
}

.bloc5{
	display: inline-block;
	width: 100%;
	background-color: white;
	background-size: 105%;
	height: 600px;
	margin-top: 150px;
	margin-bottom: 0px;
    position: relative;
    animation: slide 1.5s linear 0s;
    animation-timing-function: ease;
    background-image: url(image/repa_back.jpg);
}

.bloc6{
	display: inline-block;
	width: 100%;
	background-color: white;
	background-size: 105%;
	margin-top: 150px;
	margin-bottom: 0px;
    position: relative;
    animation: slide 1.5s linear 0s;
    animation-timing-function: ease;
    background-image: url(image/contact_back.jpg);
    height: 420px;
}

@keyframes slide {
  0%   {top:-300px; background-color:white; }
  25%  {background-color: rgb(255,57,57);}
  100%  {top:0px; z-index:-2; background-color:white}
}

.text{
	height: 100%;
	width: 21%;
	float: left;
	margin: 50px 5% 50px 8%;
	padding: 0px;
}

.titre{
	font-family: 'Roboto black', 'Verdana';
	font-size: 35px;
}

.picdroite{
	height: 600px;
	float: right;
	position: relative;
    animation: slide1 1.5s linear 0s;
    animation-timing-function: ease;
}

@keyframes slide1 {
  0%   {left: 300px; }
  100%  {left:0px; z-index:-1}
}

.picgauche{
	height: 600px;
	float: left;
}

ul li a:hover{
	color: rgb(150, 150, 150);
}


.about:active{
	color: red
}

.down{
	width: 100%;
	text-align: center;
	margin: 50px 0px 50px 0px;
}	

.textdroite{
	float: right;
	width: 30%;
	color: white;
	margin: 140px 50px 50px 20px;
	text-align: right;
}

.titre2{
	font-size: 35px;
	font-family: 'Roboto black', 'Verdana';
	margin: 80px 5% 50px 8%;
}


		.slider{
		width: 80%;
		overflow: hidden;
		margin: 50px auto;
	}
	.slides{
		width: 3600px;
		animation: glisse 60s infinite;
	}
	
	.slide{
		float: left;
		margin: 0px 20px;
	}
	@keyframes glisse{
		0%{ transform: translate8(0); }
		90%{ transform: translateX(-2500px); }
		100% {transform: translateX(0);}
		
	}

	/*.slide img{
    	filter: grayscale(100%);
    	-webkit-filter: grayscale(100%);
    	-moz-filter: grayscale(100%);
    	-ms-filter: grayscale(100%);
    	-o-filter: grayscale(100%);
	}*/

	.petitecran, .vid1, .topnav{
		display: none;
	}









@media screen and (max-width: 1060px){

/*	nav, .bloc, .down {
		display: none;
	}

	.petitecran{
		display: inline-block;
		text-align: center;
		margin: 20%;
	}

	.petitecran img{
		margin: auto;
		width: 100%;
	}
*/

body{
	padding: 0;
}

nav a img{
	width: 50%;
	margin: 0px;
}

nav ul{
	display: none;
}

nav{
	padding: 3%;
}

.bloc1, .bloc2, .bloc3, .bloc4, .bloc5, .bloc6{
	background-image: none;
	margin-top: 50px;
	height: auto;
}

.bloc1{
	height: auto;
}

.vid1{
	display: inline-block;
	float: left;
	width: 100%;
}


.text{
	height: 100%;
	width: 80%;
	max-width: 500px;
	float: left;
	margin: 50px 5% 50px 8%;
	padding: 0px;
}

.titre{
	font-family: 'Roboto black', 'Verdana';
	font-size: 30px;
}

.picdroite{
	display: none;
}

.picgauche{
	width:100%;
	height: auto;
}

.textdroite{
	float: left;
	width: 80%;
	color: black;
	margin: 0px 5% 50px 8%;
	text-align: left;
	padding: 0px;
	max-width: 500px;
}

.titre2{
	font-size: 30px;
}

.slides{
		width: 3600px;
		animation: glisse 40s infinite;
	}

